#boutons {
    display : none;
}

h1 {
    margin : 20px 0 0 20px; 
    text-align: left;
    padding : 20px;
    width: 20px;
    color : #023535;
    background-color :#008F8C;
    font-family : 'Josefin Sans', sans-serif;
}