#boutons {
    display : none;
}

html, body {
    margin: 0;
    padding: 0;
}

h1 {
    margin : 0 auto 30px auto; 
    text-align: left;
    padding : 60px 20px ;
    color : #023535;
    background-color :#008F8C;
    font-family : 'Josefin Sans', sans-serif;
}